*{
    margin: 0;
    padding: 0;
}
.tableDiv{
    padding: 3%;
}


.tableh{
    background-color: black;
    height: 2rem;
    color: white;
    gap: 3rem;
    width: 90%;
    

}



.tablebody{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    
  
}


    td{ padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px navy;
        border-bottom:1px solid rgba(0, 0, 0, 0.308);
        border-bottom-width: thin;
    
    }